@{
    ViewData["Title"] = "History";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>

<p></p>
<body>
<img src="C:\Users\steve\OneDrive\Pictures/workout_image3.jpg" class="center-block" alt="workout image 3" style="width:225px; height:305px">
</body>