@{
    ViewData["Title"] = "Home Page";
}

@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>


<body>
    <form>
        <input type="checkbox" name="Barbell" value="first-cb" /><label for="Barbell">Barbell</label>
    <br />
        <input type="checkbox" name="Bench" value="second-cb" /><label for="Bench">Bench</label>
    <br />
        <input type="checkbox" name="Cable System" value="third-cb"/><label for="Cable System">Cable System</label>
    <br />
        <input type="checkbox" name="Dumbbells" value="fourth-cb"/><label for="Dumbbells">Dumbbells</label>
    <br/>
        <input type="checkbox" name="Kettlebells" value="fifth-cb"/><label for="Kettlebells">Kettlebells</label>
    <br/>
        <input type="checkbox" name="Medicine Ball" value="sixth-cb"/><label for="Medicine Ball">Medicine Ball</label>
    <br/>
        <input type="checkbox" name="Pull Up Bar" value="seventh-cb"/><label for="Pull Up Bar">Pull Up Bar</label>
    <br/>
        <input type="checkbox" name="Squat Rack" value="eighth-cb"/><label for="Squat Rack">Squat Rack</label>
    <br/>
        <input type="checkbox" name="Treadmill" value="ninth-cb"/><label for="Treadmill">Treadmill</label>
    <br />
        <input type="submit" value="Search">
    <br />
    </form>



    <img src="C:\Users\steve\OneDrive\Pictures/workout_quote1.jpg" alt="workout quote 1" style="width:375px; height:260px">
</body>