@{
    ViewData["Title"] = "Links";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>



<address>
    <strong>CrossFit:</strong> <a href="https://www.crossfit.com">crossfit.com</a><br/>
    <strong>Make your body work:</strong> <a href="https://makeyourbodywork.com/how-to-exercise-at-home/">Makeyourbodywork.com</a><br/>
    <strong>Acefitness:</strong> <a href="https://www.acefitness.org/education-and-resources/lifestyle/blog/6593/top-25-at-home-exercises">acefitness.org</a><br/>
    <strong>Travelstrong:</strong> <a href="http://travelstrong.net/best-core-exercises/">Travelstrong.net</a>
</address>
<body>
<img src="C:\Users\steve\OneDrive\Pictures/workout_quote2.jpg" class="center-block" alt="workout quote 2" style="width:225px; height:305px">
</body>